<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT umbracoTextPage ANY>
<!ATTLIST umbracoTextPage id ID #REQUIRED>
<!ELEMENT umbracoHome ANY>
<!ATTLIST umbracoHome id ID #REQUIRED>
<!ELEMENT umbracoMaster ANY>
<!ATTLIST umbracoMaster id ID #REQUIRED>
<!ELEMENT umbracoSlide ANY>
<!ATTLIST umbracoSlide id ID #REQUIRED>
<!ELEMENT umbracoSlider ANY>
<!ATTLIST umbracoSlider id ID #REQUIRED>

]>
<root id="-1">
  <umbracoHome id="1069" key="55b77c16-e033-46b0-8ee6-1941d6477b3d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-11T13:21:04" updateDate="2016-08-12T18:08:57" nodeName="UmbracoApp" urlName="umbracoapp" path="-1,1069" isDoc="" nodeType="1064" creatorName="Mahinuddin" writerName="Mahinuddin" writerID="0" template="1067" nodeTypeAlias="umbracoHome">
    <websiteTitle><![CDATA[Umbraco First app]]></websiteTitle>
    <hideInNavigation>0</hideInNavigation>
    <bannerImage>1090</bannerImage>
    <hideBanner>0</hideBanner>
    <logoText><![CDATA[Moinuddin]]></logoText>
    <headerImage>1077</headerImage>
    <copyright><![CDATA[© Untitled. All rights reserved. Design by UmbracoApp.]]></copyright>
    <umbracoInternalRedirectId>1118</umbracoInternalRedirectId>
    <umbracoTextPage id="1117" key="82fadea4-3fb6-4939-b6c6-9c80c16cbae1" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2016-08-12T12:01:26" updateDate="2016-08-12T12:01:26" nodeName="Home" urlName="home" path="-1,1069,1117" isDoc="" nodeType="1065" creatorName="Mahinuddin" writerName="Mahinuddin" writerID="0" template="1068" nodeTypeAlias="umbracoTextPage">
      <websiteTitle><![CDATA[Home | Umbraco App]]></websiteTitle>
      <hideInNavigation>0</hideInNavigation>
      <pageContent><![CDATA[<p><span>This is </span><strong>Big Business</strong><span>, a free and fully standards-compliant CSS website template by</span><a rel="nofollow" href="http://templated.co">TEMPLATED</a><span>. The pictures in this template are from </span><a href="http://pdphoto.org">PDPhoto.org</a><span>. This free CSS template is released under the </span><a href="http://templated.co/license">Creative Commons Attribution</a><span> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you credit us in some way. Have fun :)</span></p>]]></pageContent>
      <contentHeading><![CDATA[Welcome to Big Business]]></contentHeading>
      <contentImage>1077</contentImage>
    </umbracoTextPage>
    <umbracoTextPage id="1118" key="4c3c123a-2ad6-4094-9d5f-c97e20e9076b" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2016-08-12T12:02:32" updateDate="2016-08-12T12:02:32" nodeName="Products" urlName="products" path="-1,1069,1118" isDoc="" nodeType="1065" creatorName="Mahinuddin" writerName="Mahinuddin" writerID="0" template="1068" nodeTypeAlias="umbracoTextPage">
      <websiteTitle><![CDATA[Products | Umbraco App]]></websiteTitle>
      <hideInNavigation>0</hideInNavigation>
      <pageContent><![CDATA[<p><span>This is </span><strong>Big Business</strong><span>, a free and fully standards-compliant CSS website template by</span><a rel="nofollow" href="http://templated.co">TEMPLATED</a><span>. The pictures in this template are from </span><a href="http://pdphoto.org">PDPhoto.org</a><span>. This free CSS template is released under the </span><a href="http://templated.co/license">Creative Commons Attribution</a><span> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you credit us in some way. Have fun :)</span></p>]]></pageContent>
      <contentHeading><![CDATA[Welcome to Products]]></contentHeading>
      <contentImage>1078</contentImage>
    </umbracoTextPage>
  </umbracoHome>
  <umbracoSlider id="1153" key="74415538-1fec-4d6a-a5f8-85634febab0c" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-08-19T20:30:53" updateDate="2016-08-19T20:30:53" nodeName="Slider" urlName="slider" path="-1,1153" isDoc="" nodeType="1150" creatorName="Mahinuddin" writerName="Mahinuddin" writerID="0" template="0" nodeTypeAlias="umbracoSlider">
    <websiteTitle><![CDATA[Test]]></websiteTitle>
    <hideInNavigation>0</hideInNavigation>
    <umbracoSlide id="1154" key="ccba5807-6b23-4eb9-8d4f-c5ede9e7dcc5" parentID="1153" level="2" creatorID="0" sortOrder="0" createDate="2016-08-19T20:31:10" updateDate="2016-08-19T20:31:10" nodeName="TEst1" urlName="test1" path="-1,1153,1154" isDoc="" nodeType="1151" creatorName="Mahinuddin" writerName="Mahinuddin" writerID="0" template="1152" nodeTypeAlias="umbracoSlide">
      <websiteTitle><![CDATA[Test]]></websiteTitle>
      <hideInNavigation>0</hideInNavigation>
      <imageName><![CDATA[Test 1]]></imageName>
    </umbracoSlide>
    <umbracoSlide id="1155" key="989920bf-be3c-4d0f-9649-f5b195de52a5" parentID="1153" level="2" creatorID="0" sortOrder="1" createDate="2016-08-19T20:31:25" updateDate="2016-08-19T20:31:25" nodeName="Test2" urlName="test2" path="-1,1153,1155" isDoc="" nodeType="1151" creatorName="Mahinuddin" writerName="Mahinuddin" writerID="0" template="1152" nodeTypeAlias="umbracoSlide">
      <websiteTitle><![CDATA[Test]]></websiteTitle>
      <hideInNavigation>0</hideInNavigation>
      <imageName><![CDATA[Test2]]></imageName>
    </umbracoSlide>
  </umbracoSlider>
</root>